* {
    padding: 0;
    margin: 0;
    font-family: 'Hubballi', cursive;
}

.trending{
    margin-top:4.5rem;
    margin-left: 10px;
    display: flex;
}

.page {
    text-align: center;



























    position: fixed;
}