.content {
    text-align: center;
}

.poster {
    display: flex;
    border-radius: 20px;
    padding: 5px;
    float: right;
}

.poster:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 204);
}

.details {
   margin-left: 25px;
   text-align: left;
}
